{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
    <main class="container">
        <h1>Mes formations</h1>
     
        {% for formation in formations %}
            {{ formation}}
        {% endfor %}

    </main>
    
{% endblock %}
