{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main>
    <section class="container">
        <h1>Bienvenue <span class="text-primary">{{app.user.pseudo}}<span></h1>
    </section>
<main>

{% endblock %}
