{% extends 'base.html.twig' %}

{% block title %} Hello TrainerController! {% endblock %}

{% block body %}
 <h1> Liste des formateurs</h1>

    {% for trainer in trainers %}

        {{trainer}}

    {% endfor %}


{% endblock %}
