{% extends 'base.html.twig' %}

{% block title %} Hello TrainerController! {% endblock %}

{% block body %}
    <main class="container">
        <h1> Liste des formateurs</h1>

        {% for trainer in trainers %}
            <a href="{{ path('show_trainer', {'id': trainer.id}) }}">{{trainer}}</a><br>
        {% endfor %}
    </main>
{% endblock %}
