{% extends 'base.html.twig' %}

{% block title %}Hello InternController!{% endblock %}

{% block body %}

    <h1>Mes élèves</h1>
     
    {% for intern in interns %}
        <a href="">{{ intern}}</a><br>
    {% endfor %}
{% endblock %}
