{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    
    <h1>Mes sessions</h1>
     
    {% for session in sessions %}
        <figure>
            <img src="{{session.image}}" alt=" image {{session.title}}"/>
            <figcaption>
                <a href=" {{ path('show_session', {'id': session.id}) }} ">{{ session}}</a>
            </figcaption>
        </figure>
    {% endfor %}

{% endblock %}
