{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    
    <h1>Mes sessions</h1>
     
    {% for session in sessions %}
        <a href="">{{ session}}</a><br>
    {% endfor %}

{% endblock %}
