{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    
    <h1>Mes sessions</h1>
     
    {% for session in sessions %}
        <a href=" {{ path('show_session', {'id': session.id}) }} ">
            <figure>
                <img src="{{session.image}}" alt=" image {{session.title}}"/>
                <figcaption>
                    {{ session}}
                </figcaption>
            </figure>
        </a>
    {% endfor %}

{% endblock %}
