{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammeController!{% endblock %}

{% block body %}

    <h1>Durée de modules dans mes sessions</h1>
     
    {% for programme in programmes %}
        {{ programme }}
    {% endfor %}

{% endblock %}
